::-webkit-scrollbar
  width: 6px;
  height: 6px;
  background: #ddd;

::-webkit-scrollbar-thumb
  // background: linear-gradient(45deg, #95a5a6, #3498db, #22a6b3);
  background: #34495e
  border-radius: 3px;