.theme-default-content:not(.custom) {
  max-width: 800px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #7ed6df, #3498db, #22a6b3);
  border-radius: 4px;
}

.go-to-top{
  z-index: 999999 !important;
}